{% extends 'base.html' %}

{% block content_1 %}
    <div class="container content-container">
        <div class="row">
            <div class="col-md-12">
                <div id="login-button-container">
                    <div>
                        <a id="go-login" class="btn btn-success" href="#" >Login</a>
                    </div>

                    <div class="info-msg hidden">
                        You are logged in.<a id="logout" class="btn btn-success" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}