html, body {
    height: 100%;
}

.content-container {
    background-color: lightskyblue;
    padding: 2em;
}

#login-button-container, .home-content {
   margin: 10% 0%;
}

#brand-title {
    font-weight: bold;
    color: darkblue;
}

.hidden {
    display: none;
}

#logout {
    margin-left: 5%;
}

.password-item-container {
    padding: 0.5em 2em;
}

.content tr:hover {
    background-color: #0c5460;
}

.odd {
    background-color: #eee;
}

.even {
    background-color: lightcyan;
}

.content {
    margin: auto;
}

#password-form input {
    margin: 1em 0;
}

.flashes {
    background-color: lightgreen;
    padding: 1em;
}

.flashes li {
    list-style: none;
}