{% extends 'base.html' %}

{% block content_1 %}
    <div class="container content-container">
        <div class="row">
            <p>Here are your passwords:</p>
        </div>
        <div class="row">
            <table class="content">
                <tr>
                    <th class="password-item-container">Resource name</th>
                    <th class="password-item-container">URL</th>
                    <th class="password-item-container">Login</th>
                    <th class="password-item-container">Password</th>
                    <th class="password-item-container">Comment</th>
                </tr>

                {% for password in passwords %}
                <tr class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                    <td class="password-item-container">{{ password.resource_name }}</td>
                    <td class="password-item-container">{{ password.url }}</td>
                    <td class="password-item-container">{{ password.login }}</td>
                    <td class="password-item-container">{{ password.password }}</td>
                    <td class="password-item-container">{{ password.comment }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}