{% extends '_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Passwords</h1>
                <ul>
                    {% for password in passwords %}
                        <li><strong>Url</strong>: {{ password.password_user.id }}: {{ password.url }} -
                            <strong>Username</strong>: {{ password.username }} -&nbsp;
                            <strong>Password</strong>: {{ password.encrypted_password }}&nbsp;<a
                                    href="{% url 'password_details' password.id %}">Details</a>
                        </li>
                    {% empty %}
                        <li>No passwords yet.</li>
                    {% endfor %}
                </ul>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}