{% extends '_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Password</h1>
                <div><strong>Resource Name:&nbsp;</strong>{{ password.name }}</div>
                <div><strong>Url:&nbsp;</strong>{{ password.url }}</div>
                <div><strong>Username:&nbsp;</strong>{{ password.username }}</div>
                <div><strong>Password:&nbsp;</strong>{{ password.encrypted_password }}</div>
                <div><strong>Comments:&nbsp;</strong>
                    <div>{{ password.comment }}</div>
                </div>
                <div><a href="{% url 'list_passwords' %}" class="btn btn-primary">Back</a></div>
            </div>
        </div>
    </div>
{% endblock %}