<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="brand-title" class="navbar-brand" href="#">Password Manager</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('pages_app.home') }}">Home</a>
            </li>
            <li class="nav-item {% if active_page == 'list-passwords' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('pages_app.list-passwords') }}">List Passwords</a>
            </li>
        </ul>
    </div>
</nav>